### Java ###
*.class
*.log

### Build outputs ###
out/
bin/

### IntelliJ IDEA ###
.idea/
*.iml
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS ###
.DS_Store

### Temp ###
*.tmp
*.swp
*~